body {
  background-color: #1d3557;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
}

.text {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.text h2 {
  margin: 0; /* Remove all margins */
  position: relative;
}

.core-values-list {
  list-style-type: none;
  padding: 0;
}

.core-values-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.core-values-list li:before {
  content: "\2022";
  color: red;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 2px;
}
