html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1d3557; /* Set background color for the entire page */
}

.container {
    color: white;
    text-align: justify;
    width: 200%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

.text {
    color: red;
}

#chairman {
    color: chocolate;
}
