html, body {
    margin: 0;
    padding: 0;
    height: 130%;
    background-color: #1d3557; /* Set background color for the entire page */
}

.container {
    color: white;
    text-align: justify;
    padding: 20px;
}

#text {
    color: red;
}

#Principle {
    color: chocolate;
}

.president-image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Occupy full height of the viewport */
}

.president-image {
    max-width: 50px; /* Set the maximum width to 50 pixels */
    max-height: 50px; /* Set the maximum height to 50 pixels */
    width: auto; /* Maintain aspect ratio */
    border: 2px solid white; /* Apply a white border with 2px width */
    border-radius: 8px; /* Add border radius for rounded corners */
}


