html, body 
{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1d3557; /* Set background color for the entire page */
}

.president-message-container {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify; /* Justify text */
}

#texth
{
  color: red;
}

#text {
  color: white; /* Apply white text color */
  text-align: justify;
}


.image-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#vicechairman
{
  color: white;
}
